<mat-card>
  <a (click)="service.openDialog()" class="d-flex justify-content-center pb-4" matTooltip="Ouvrir le dialog d'ajoute">
    <img [src]="service.dialogData.image | sanitizerUrl" alt="" class="p-2" matCardImageXLarge>
    <!--    <img *ngIf="!service.dialogData.image || service.dialogData.image =='./assets/imgs/img.png'" matCardImageXLarge  src="./assets/imgs/img.png" alt="" class="p-2">-->
  </a>
  <mat-card-content class="container-fluid">
    <div class="row">
      <div class="col-4">
        Prénom :
      </div>
      <div class="col-8">
        {{service.dialogData?.prenom}}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Nom :
      </div>
      <div class="col-8">
        {{service.dialogData?.nom}}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Dent :
      </div>
      <div class="col-8">
        {{service.dialogData?.dent}}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Date Visite :
      </div>
      <div class="col-8">
        {{service.dialogData.dateVisite | date:"dd/MM/YYYY HH:mm"}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
